@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proxima_nova_bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/proxima_nova_bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/proxima_nova_bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/proxima_nova_bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/proxima_nova_bold.svg#proxima_nova_bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/proxima_nova_regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/proxima_nova_regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/proxima_nova_regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/proxima_nova_regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/proxima_nova_regular.svg#proxima_nova_regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriadpro-regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/myriadpro-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/myriadpro-regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/myriadpro-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/myriadpro-regular.svg#myriadpro-regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}